input {
  outline: none;
}

.range-highlight .mat-calendar-body-cell-content {
  border-radius: 50%;
}

.mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}
::before mdc-line-ripple--deactivating {
  display: none !important;
}
.mdc-line-ripple--deactivating:before {
  display: none !important;
}
.mdc-line-ripple--deactivating:after {
  display: none !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-text-field-wrapper {
  background: none !important;
}

.mat-mdc-text-field-wrapper:after {
  background: none !important;
}

input {
  border: none !important;
}
