/* .custom-form-field {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  padding: 12px;
}

.custom-date-input {
  padding: 10px 12px;
  font-size: 14px;
  border-radius: 8px;
  background-color: #f9fafb;
  border: 1px solid #e5e7eb;
  transition: border 0.3s;
}

.custom-date-input:focus {
  border-color: #3f51b5;
  outline: none;
  background-color: #fff;
} */
